.hver{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: width 1s, height 1s, transform 2s;
    

}
.hver:hover{
    transform: rotate(10deg);
    color:black;
    background-color: cornflowerblue;
    box-shadow: 0 3px rgb(255, 255, 255);

}